.modal-video {
  background: rgba(var(--color-foreground), 0.2);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}

.modal-video[open] {
  opacity: 1;
  visibility: visible;
  z-index: 104;
}

.modal-video__content {
  background-color: rgb(var(--color-background));
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
  width: 100%;
}

.modal-video__toggle {
	--_bg-clr: var(--color-secondary-button);
  --_text-clr: var(--color-secondary-button-text);
  --_outline-clr: var(--color-secondary-button-text);

  align-items: center;
  background-color: rgb(var(--_bg-clr));
  border-radius: var(--buttons-radius);
  border: 0.1rem solid rgba(var(--_outline-clr), 1);
  color: rgba(var(--_text-clr), 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 0 0 auto;
  padding: 1.2rem;
  position: fixed;
  right: 0.5rem;
  top: 2rem;
  width: 4rem;
  z-index: 2;
}

@media (hover) {
	.modal-video__toggle:hover {
		--_bg-clr: var(--color-secondary-button-hover);
		--_text-clr: var(--color-secondary-button-text-hover);
		--_outline-clr: var(--color-secondary-button-outline-hover);
		border-radius: var(--buttons-radius-hover);
	}
}

@media screen and (min-width: 750px) {
  .modal-video__toggle {
    right: 4.8rem;
    top: 3.5rem;
  }
}

@media screen and (min-width: 990px) {
  .modal-video__toggle {
    right: 4.3rem;
    top: 3rem;
  }
}

.modal-video__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

.modal-video__content-info {
  height: calc(100% - 6rem);
  margin: 0 auto;
  padding-top: 8rem;
  width: calc(100% - 1rem);
}

@media screen and (min-width: 750px) {
  .modal-video__content-info {
    height: calc(100% - 7.5rem);
    padding-top: 9.5rem;
    width: calc(100% - 9.6rem);
  }
}

@media screen and (min-width: 990px) {
  .modal-video__content-info {
    height: calc(100% - 7rem);
    padding-top: 9rem;
    width: calc(100% - 8.6rem);
  }
}

.modal-video__video,
.modal-video__video iframe {
  height: 100%;
  width: 100%;
}

.modal-video__video iframe {
  position: static;
  border: 0;
}

@media (hover: hover) {
	.modal-video__toggle svg {
		transition: transform var(--duration-medium) ease-in-out;
	}

	.modal-video__toggle:hover svg {
		transform: rotate(90deg);
	}
}