@media screen and (max-width: 749px) {
  .articles-wrapper .article {
    width: 100%;
  }
}

.article {
  display: flex;
  align-items: center;
}

.article.grid__item {
  padding: 0;
}

.grid--peek .article-card {
  box-sizing: border-box;
}

.article-card__image-wrapper > a {
  display: block;
}

.article-card__title {
  text-decoration: none;
  word-break: break-word;
}

.article-card__title a:after {
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.article-card__link.link {
  padding: 0;
}

.article-card__link {
  text-underline-offset: 0.3rem;
}

.article-card .card__heading:not(:first-child) {
  margin-top: 1.5rem;
}

.blog-articles .article-card .card__information,
.blog__posts .article-card .card__information {
  padding-left: 2rem;
  padding-right: 2rem;
}

.article-card.card--card .card__information {
  padding: 1rem;
	display: grid;
}

.article-card.card--card .card__information--2 {
	grid-template-rows: auto 1fr;
}

.article-card.card--card.card--text .card__information--2 {
	grid-template-rows: auto;
	align-content: center;
}

.article-card.card--card .card__information--3 {
	grid-template-rows: repeat(2, auto) 1fr;
}

.article-card.card--card .card__information--4 {
	grid-template-rows: repeat(3, auto) 1fr;
}

.article-card.card--card .card__content {
	align-items: stretch;
}

.article-card.card--standard .card__information {
  padding: 1.5rem 0 0 0;
}

.article-card__info {
	display: flex;
	gap: .8rem;
	justify-content: space-between;
	flex-wrap: wrap;
}

.alignment-center .article-card__info:has(:only-child) {
	justify-content: center;
}

.alignment-right .article-card__info:has(:only-child) {
	justify-content: end;
}

.article-card__date {
	font-size: var(--f-size-text-x-sm);
	text-transform: uppercase;
	color: rgb(var(--color-secondary-foreground));
}

.blog__posts .article-card > .card__content:first-child .card__information {
	padding-top: 0;
}

.article-card__info {
  padding-top: 0;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: rgb(var(--color-secondary-foreground));
}

.article-card__footer {
	align-self: end;
	margin-top: 3.8rem;
	display: flex;
	gap: .8rem;
	justify-content: space-between;
	align-items: center;
}

.alignment-center .article-card__footer:has(:only-child) {
	justify-content: center;
}

.alignment-right .article-card__footer:has(:only-child) {
	justify-content: end;
}

.article-card__footer:not(:last-child) {
  margin-bottom: 1rem;
}

.article-card__comment {
  display: block;
	font-weight: 500;
	color: rgb(var(--color-secondary-foreground));
}

.article-card__excerpt {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.alignment-left .article-card__excerpt {
	margin-left: unset;
}

.alignment-right .article-card__excerpt {
	margin-right: unset;
}

.article-card__link:not(:only-child) {
  margin-right: 3rem;
}

@media screen and (min-width: 990px) {
  .article-card__link:not(:only-child) {
    margin-right: 4rem;
  }
}

.article-card__image--small .ratio::before {
  padding-bottom: 11rem;
}

.article-card__image--medium .ratio::before {
  padding-bottom: 22rem;
}

.article-card__image--large .ratio::before {
  padding-bottom: 33rem;
}

@media screen and (min-width: 750px) {
  .article-card__image--small .ratio::before {
    padding-bottom: 14.3rem;
  }

  .article-card__image--medium .ratio::before {
    padding-bottom: 21.9rem;
  }

  .article-card__image--large .ratio::before {
    padding-bottom: 27.5rem;
  }
}

@media screen and (min-width: 990px) {
  .article-card__image--small .ratio::before {
    padding-bottom: 17.7rem;
  }

  .article-card__image--medium .ratio::before {
    padding-bottom: 30.7rem;
  }

  .article-card__image--large .ratio::before {
    padding-bottom: 40.7rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .articles-wrapper.grid {
    margin: 0 0 5rem 0;
  }

  @media screen and (min-width: 750px) {
    .articles-wrapper.grid {
      margin-bottom: 7rem;
    }
  }
}

.underline-links-hover:hover a.article-button {
  text-decoration: none;
}

.article-card .acticle-card__image-link {
	opacity: 0;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}


.card.article-card > .card__inner  .card__content {
	pointer-events: none;
	z-index: 2;
	padding: calc(var(--image-padding) + 2rem);
}

.article-card > .card__inner  .card__badge {
	pointer-events: all;
}

@media only screen and (min-width: 1560px) {
	.extra-large-layout .card.article-card > .card__inner  .card__content {
		padding: calc(var(--image-padding) + 2.4rem);
	}

	.extra-large-layout .article-card.card--card .card__information {
		padding: 1.4rem;
	}

	.extra-large-layout .article-card__footer {
		margin-top: 6.7rem;
	}
}