.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;

  transition: visibility var(--duration-default) ease;
  /* backdrop-filter: none; */
}

.no-js .drawer {
  display: none;
}

.drawer.active {
  visibility: visible;
  background-color: rgba(var(--color-foreground), 0.5);
}

.drawer__inner {
  height: 100%;
  width: 70rem;
  max-width: calc(100vw - 3rem);
  padding: 0 5rem 0 3rem;
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-width: 0 0 0 var(--drawer-border-width);
  border-right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}

@media only screen and (min-width: 1560px) {
  .extra-large-layout .drawer__inner {
    width: 76rem;
  }
}

.drawer__inner.gradient {
  background: rgb(var(--color-background));
}

.drawer__inner-empty {
  height: 100%;
  padding: 3rem 1.5rem 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.cart-drawer__empty-image {
  max-width: 30rem;
  margin: 0 auto 2rem;
}

.cart-drawer__empty-image img {
  border-radius: var(--media-radius);
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__close {
  right: 5rem;
  top: 2rem;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__footer,
cart-drawer.is-empty .drawer__body,
cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
  position: relative;
  padding: 2rem 8rem 1rem 0;
}

.drawer__heading {
  margin: 0;
}

.drawer__description {
  margin-top: var(--title-space-bottom-mobile);
}

@media screen and (min-width: 750px) {
  .drawer__description {
    margin-top: var(--title-space-bottom);
  }
}

button.drawer__close {
  --_bg-clr: var(--color-button);
  --_text-clr: var(--color-button-text);
  --_outline-clr: var(--color-button-text);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 4.4rem;
  height: 4.4rem;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 2;
  color: rgb(var(--_text-clr));
  background: rgb(var(--_bg-clr));
  border: 0.1rem solid rgb(var(--_outline-clr));
  border-radius: var(--buttons-radius);
  cursor: pointer;
  transition:
    color var(--duration-medium),
    background-color var(--duration-medium),
    border-color var(--duration-medium),
    border-radius var(--duration-medium);
}

.drawer__inner .drawer__close {
  top: 2.75rem;
  right: 0;
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

.drawer__close svg {
  height: 2rem;
  width: 2rem;
}

@media (hover: hover) {
  .animate--hover-glide .drawer__close:hover {
    --_bg-clr: var(--color-button-hover);
    --_text-clr: var(--color-button-text-hover);
    --_outline-clr: var(--color-button-outline-hover);

    border-radius: var(--buttons-radius-hover);
  }

  .drawer__close .icon {
    transition: rotate var(--duration-medium) ease-in-out;
  }

  .drawer__close:hover .icon {
    rotate: 90deg;
  }
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  padding: 1.5rem 0;
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-outline), 1);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 2.8rem 1.5rem 0;
}

.drawer__footer summary .summary__title {
  font-weight: 500;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 3rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer .totals {
  margin-top: 0;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 3rem auto;
  width: 100%;
  max-width: 40rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
  margin: 2rem 0 0;
}

.cart-drawer .cart-items,
.cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
}

.drawer__body {
  overflow: auto;
  flex: 1;
  padding-right: 1.2rem;
}

@media screen and (orientation: landscape) and (max-height: 650px) {
  .drawer__body {
    overflow: unset;
  }
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow: scroll;
  }
}

.cart-drawer .cart-item {
  display: grid;
  grid-template: repeat(2, auto) / 8.4rem repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 0;
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
}

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.cart-drawer .cart-item__totals {
  grid-column: 4 / 5;
}

.cart-drawer .cart-item__details {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
  border-radius: calc(var(--media-radius) - var(--media-border-width));
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading__spinner {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-items td {
  padding-top: 4rem;
  border: unset;
}

.cart-drawer .cart-item__quantity-wrapper {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.5rem;
}

.cart-drawer .cart-item__details {
  padding-bottom: 2rem;
}

.cart__text-area {
  border: 0.1rem solid rgb(var(--input-border-color));
}

.cart-drawer .cart__note {
  margin-top: 0;
  margin-bottom: 0;
  bottom: 0;
  top: 0;
}

.cart-drawer .cart__note label {
  top: 0;
}

.cart-drawer .cart-item cart-remove-button {
  width: 4rem;
  height: 4rem;
  margin: 0;
}

.cart-drawer .cart-item {
  border-bottom: 0.1rem solid rgb(var(--color-outline));
}

.cart-drawer .cart-item:first-child {
  border-top: 0.1rem solid rgb(var(--color-outline));
}

.cart-drawer .cart-item > td + td {
  padding-left: 2rem;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
}

.cart-drawer .cart-item__media {
  width: 8.4rem;
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
  padding-right: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-item__totals .h4 .cart-item__old-price {
  font-size: var(--font-heading-5-size-mb);
}

.cart-drawer .cart-items .cart-item__quantity {
  max-width: 100%;
  padding-top: 0;
  grid-column: 2 / 5;
}

@media screen and (max-width: 749px) {
  .drawer__inner {
    max-width: 100vw;
  }

  .cart-drawer .cart-item {
    grid-template: repeat(2, auto) / 8.4rem 3.5fr repeat(2, 1fr);
  }

  .cart-item__price-wrapper .price.cart-item__old-price,
  .cart-drawer .cart-item__price-wrapper {
    font-size: 1.6rem;
  }

  cart-drawer.is-empty .drawer__close {
    right: 3rem;
  }

  .drawer__close {
    top: 1.5rem;
  }

  .drawer__inner {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .cart-drawer .cart-item td {
    padding-top: 0;
  }

  .cart-drawer .cart-item:last-child .cart-item__details,
  .cart-drawer .cart-item__media,
  .cart-drawer .cart-item__details {
    padding-bottom: 0;
  }

  .cart-drawer .cart-item:last-child {
    padding-bottom: 2.4rem;
  }

  .cart-drawer .cart-item {
    padding-top: 2.4rem;
  }

  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }

  .cart-drawer .cart-item > td + td {
    padding-left: 1rem;
  }

  .cart-drawer .cart-items .cart-item__quantity {
    grid-column: 1 / 3;
    padding-left: 0;
  }

  .cart-drawer .cart-item__totals {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
  }

  .cart-drawer td.cart-item__totals {
    padding-top: 0;
    align-self: center;
  }

  .cart-drawer .cart-item__quantity-wrapper {
    justify-content: start;
  }

  .cart-drawer .cart-item:last-child {
    border-bottom: 0.1rem solid rgb(var(--color-outline));
  }

  .drawer__body countdown-bar {
    margin: 1.5rem 0 3rem;
  }

  .cart-drawer .cart-item__totals .h4 .cart-item__old-price {
    font-size: 1.4rem;
  }
}

.drawer:not(.is-empty) .drawer__inner-empty {
  display: none;
}

.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer {
  font-weight: 400;
  margin-top: 0;
  justify-content: space-between;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 1.2rem 0 2rem auto;
  text-align: left;
  font-weight: 500;
}

.cart-drawer .tax-note a {
  text-decoration-thickness: 0.1rem;
}

.tax-note strong {
  font-weight: 700;
}

.cart-drawer .product-option {
  color: rgb(var(--color-secondary-foreground));
}

.cart-drawer .product-option.cart-item__old-price {
  font-weight: 500;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  max-width: none;
  --button-height: 4.4rem;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
  margin-top: 1rem;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

.cart-drawer .cart-drawer__view-cart-btn,
.cart-drawer .cart__checkout-button {
  width: 100%;
}

.cart-drawer__continue-link {
  margin: 1.6rem auto 1.5rem;
}

.cart-drawer td.cart-item__totals .price.price--end {
  color: rgb(var(--color-secondary-foreground));
}

@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .cart-drawer td.cart-item__totals .price.price--end {
    font-size: inherit;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
    flex-basis: calc(50% - 0.5rem) !important;
  }

  .drawer__body countdown-bar {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
  }

  .drawer__footer > details + .cart-drawer__footer {
    padding-top: 4rem;
  }

  .cart-drawer .cart-drawer__view-cart-btn,
  .cart-drawer .cart__checkout-button {
    width: calc(50% - 0.5rem);
  }

  .cart-drawer__continue-link {
    margin: 3rem auto 1.5rem;
  }

  .cart-drawer .cart-item:first-child td {
    border-top: unset;
  }

  .cart-drawer .cart-item__totals .h4 .cart-item__old-price {
    font-size: var(--font-heading-5-size);
  }
}

.drawer__recommendations .list-unstyled::-webkit-scrollbar {
  height: 1rem;
}

.drawer__recommendations .complementary-product svg {
  max-width: 8rem;
}

.drawer__recommendations .list-unstyled::-webkit-scrollbar,
.drawer__body::-webkit-scrollbar {
  width: 3px;
}

.drawer__recommendations .list-unstyled::-webkit-scrollbar-thumb,
.drawer__body::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

.drawer__body::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

.cart-drawer .quantity-popover-container {
  padding: 0;
}

.cart-drawer .quantity-popover__info.global-settings-popup {
  transform: translateY(0);
  right: 0;
}

.cart-drawer .cart-item__error {
  margin-top: 0.8rem;
}

.cart-drawer .cart-item__error:has(.cart-item__error-text:empty) {
  margin-top: 0;
}

.cart-drawer .quantity-popover__info + .cart-item__error {
  margin-top: 0.2rem;
}

/* recommendation products */

.drawer__recommendations {
  margin: 3.5rem 0 3rem;
}

.drawer__recommendations .title-wrapper {
  margin-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
}

.drawer__recommendations .list-unstyled {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  padding-bottom: 0.8rem;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* scrollbar-width: thin; */
  -webkit-overflow-scrolling: touch;
}

.drawer__recommendations .list-unstyled > li {
  flex: 0 0 31rem;
}

.drawer__recommendations .product-form__submit--icon {
  margin-bottom: 0;
}

/* end recommendation products */

@media screen and (min-width: 750px) {
  .drawer__recommendations .list-unstyled > li {
    flex: 0 0 42rem;
  }

  .cart-drawer .cart-item__quantity--info quantity-popover > * {
    padding-left: 0;
  }

  .cart-drawer .cart-item__error {
    margin-left: 0;
  }

  .cart-drawer .cart-item td {
    padding-bottom: 4rem;
  }

  .cart-drawer .cart-item td.cart-item__details {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.quantity__input:focus-visible {
  outline-offset: -0.2rem;
}

@media screen and (max-width: 749px) {
  .drawer {
    background-color: transparent;
    backdrop-filter: none;
  }
  .cart-drawer__overlay:empty {
    display: none;
  }

  .drawer__inner-empty {
    padding-top: 8rem;
  }
}
