.faq__item {
	--block-padding: 2.4rem;
	padding: var(--block-padding) 0;
	border-top: .1rem solid rgb(var(--color-outline));
}

.faq__item:last-child {
	padding-bottom: 0;
}

.faq__heading {
	margin: 0;
}

.faq__heading a,
.faq__description a {
	color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
	.faq__item {
		grid-template-areas: 'heading description';
	}

	.faq .page-width {
		padding: 0 var(--container-padding);
	}

	.faq__heading {
		max-width: 95%;
		grid-area: heading;
	}

	.faq__description {
		grid-area: description;
	}
}

@media only screen and (min-width: 1560px) {
	.extra-large-layout :where(.faq__item) {
		--block-padding: 4rem;
	}
}
