/* Base */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(1 * 62.5%);
}

body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

@media screen and (min-width: 750px) {
  body {
    font-size: var(--f-size-text-md);
    line-height: 1.4;
  }
}

/* Password Section */

.full-height {
  height: 100%;
}

.password {
  background-color: rgb(var(--color-background));
  height: 100%;
}

.password-link {
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
}

.password-link svg {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}

.password-modal .modal__content {
	bottom: unset;
	right: unset;
	width: 100%;
	/* height: 100%;
	height: 100svh;
	height: 100dvh; */
	overflow-y: auto;
  position: fixed;
  height: 110dvh;
}

.password-modal__content {
  padding: 4.5rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  /* height: 110%;
	height: 100dvh; */
  box-sizing: border-box;
}

.password-modal .password-form {
  max-width: 40rem;
}

.password-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  width: 100%;
}

.password-field .field__input:focus,
.password-field .field__input:not(:placeholder-shown), 
.password-field .field__input:-webkit-autofill {
	padding-right: 4rem;
}

.password-field .form__message {
  margin-top: 1.5rem;
  color: rgb(var(--color-foreground));
}

.field__input:not(:placeholder-shown) ~ div .form__message, .field__input:-webkit-autofill ~ div .form__message {
	color: rgb(var(--color-foreground),0.75);
}

.password-button {
  margin-top: 3rem;
  width: 100%;
}

@media only screen and (max-width: 749px) {
  .password-field--error + .password-button {
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width: 750px) {
  .password-button {
    margin-top: 0;
    margin-left: 2rem;
    width: auto;
    align-self: start;
  }
}

.password-field.password-field--error {
	position: relative;
}

.password-logo {
  width: 100%;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 750px) {
  .password-logo {
    margin-bottom: 0;
  }
}

.password-heading {
  margin-top: 5rem;
  font-weight: 400;
}

.password-main {
  flex-grow: 1;
}

.password-main > section:only-child {
  height: 100%;
}

.password-main > section:only-child > .newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0;
}

.password-main > section:only-child .newsletter__wrapper:not(.email-signup-banner__box) {
  width: 100%;
}

.password-main > section:only-child > :not(.newsletter--narrow) > .newsletter__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password__footer-text {
	font-size: var(--f-size-text-md);
}

.password__footer-text a {
  padding: 0;
  font-size: var(--f-size-text-md);
  font-weight: 400;
  line-height: 1.4;
}

.password__footer-login {
  margin-top: 1.2rem;
  padding-bottom: 4rem;
}

.password-modal .icon-close {
  color: rgb(var(--color-foreground));
}

.password__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}

hr {
  margin: 0 !important;
}

.list-social:not(:empty) + .password__footer-caption {
  margin-top: 3rem;
}

.password__footer-caption a {
  padding: 0;
  color: rgb(var(--color-accent));
}

.modal__toggle,
.modal__close-button {
  list-style-type: none;
}

details[open] .modal__toggle,
.modal__close-button {
  position: absolute;
  top: 2.2rem;
  right: 2.2rem;
  padding: 0.8rem;
  color: rgb(var(--color-foreground));
  background-color: transparent;
}

.no-js .modal__close-button {
  display: none;
}

.no-js .modal__toggle {
  z-index: 2;
}

.modal__toggle::-webkit-details-marker {
  display: none;
}

details.modal .modal__toggle-close {
  display: none;
}

details[open].modal .modal__toggle-close {
  background: rgb(var(--color-background));
  cursor: pointer;
  display: flex;
  padding: 0.8rem;
  z-index: 1;
}

details[open].modal .modal__toggle-close svg,
.modal__close-button svg {
  height: 1.7rem;
  width: 1.7rem;
}

details[open].modal .modal__toggle-close:hover {
  opacity: 0.75;
}

.js details[open].modal .modal__toggle-close {
  display: none;
}

details.modal .modal__toggle-open {
  display: flex;
}

.no-js details[open].modal .modal__toggle-open {
  display: none;
}

.password-header {
  padding: 2rem 1.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: rgb(var(--color-foreground));
  max-width: var(--page-width);
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 750px) {
  .password-header {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem 5rem 2.5rem;
    text-align: left;
  }
}

.password-header details-modal {
  flex-shrink: 0;
}

.password-content {
  text-align: center;
}

@media only screen and (max-width: 749px) {
  .password-content {
    margin-bottom: 1.8rem;
    margin-top: 1rem;
  }

  .password__footer-text {
	line-height: 1.4;
}

}

.shopify-name {
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.icon-shopify {
  width: 7rem;
  height: 2rem;
  vertical-align: top;
  color: rgb(var(--color-foreground));
}

password-modal {
  justify-self: flex-end;
  grid-column: 3;
}

.password-field .field__label {
	color: rgb(var(--color-foreground), 0.75);
}
.field__input:-webkit-autofill ~ div .form__message {
	color: var(--payment-terms-background-color);
}

.password-form__button {
	width: 4.4rem;
	margin: 0;
	right: var(--inputs-border-width);
	top: 0;
	height: 100%;
	z-index: 2;
  }
  
  .password-form__button:focus-visible {
	box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
	background-color: rgb(var(--color-background));
  }
  
  .password-form__button:focus {
	box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
	background-color: rgb(var(--color-background));
  }
  
  .password-form__button:not(:focus-visible):not(.focused) {
	box-shadow: inherit;
	background-color: inherit;
  }
  
  .password-form__button .icon {
	width: 1.2rem;
  }

@media (hover: hover) {
	.animate--hover-glide .button:hover,
	.animate--hover-glide .shopify-challenge__button:hover,
	.animate--hover-glide .customer button:hover {
		border-radius: var(--buttons-radius-hover);
	}
}

.form__message {
	color: rgb(var(--color-foreground));
}