.featured-blog {
	display: block;
}

.blog-placeholder-svg {
  height: 100%;
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop .article-card .card__content {
    text-align: center;
  }
}

.blog__title-wrapper {
  margin-bottom: var(--text-space-bottom-mobile);
}

@media screen and (min-width: 750px) {
  .blog__title-wrapper {
		margin-bottom: var(--text-space-bottom);
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .blog__title.title {
		margin-bottom: 0;
  }
}


.blog__title {
	max-width: 68rem;
  margin: 0;
}

.blog__posts.articles-wrapper {
  margin-bottom: 0rem;
}

.blog__posts.articles-wrapper + .slider-buttons {
  margin-top: var(--button-space-top);
}

@media screen and (max-width: 749px) {
  .blog__posts.articles-wrapper + .slider-buttons {
    margin-top: var(--button-space-top-mobile);
  }

	/* .swiper.swiper-initialized  .blog__post.grid__item {
		width: min-content;
	} */

}

.blog__posts.articles-wrapper + .slider-buttons .slider-counter {
  color: rgb(var(--color-foreground));
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8em;
}

.swiper-initialized > .blog__posts {
	gap: 0;
}

.blog__post.swiper-slide {
	flex-grow: unset;
	height: auto;
}


@media screen and (max-width: 989px) {
	.featured-blog .swiper-wrapper {
		margin-bottom: calc(var(--button-space-top) + 1rem);
	}
}

@media screen and (max-width: 749px) {
  .blog__post.article {
    width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));
  }
}

.background-secondary .blog-placeholder__content {
  background-color: rgb(var(--color-background));
}

.blog__posts .card-wrapper {
  width: 100%;
}

.blog__button {
	margin-top: var(--button-space-top);
}

@media screen and (min-width: 990px) {
  .blog__button {
    margin-top: var(--button-space-top);
  }
}

@media screen and (max-width: 749px) {
	.blog__button {
		margin-top: 3.6rem;
	}
}
  

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}
