.testimonials {
  --slider-gap: var(--grid-mobile-horizontal-spacing);
  --slider-gap-pc: var(--grid-desktop-horizontal-spacing);

  display: block;
  overflow: hidden;
}

.testimonials__item {
  position: relative;
  padding: 2rem 2rem 2.5rem;
  border-radius: var(--text-boxes-radius);
  border: 0.1rem solid rgb(var(--color-outline));
  background-image: var(--slide-img-bg);
  background-position: var(--focal-point);
  background-size: cover;
}

.testimonials:has(.one-slide-per-page) .testimonials__item {
	border: none;
}

.testimonials .title {
  max-width: 68rem;
  margin-bottom: 0;
}

.testimonials .title-wrapper {
  display: flex;
  column-gap: 3rem;
  align-items: center;
  justify-content: space-between;
}

.testimonials__item-top {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem 1.5rem;
}

.testimonials__item-title {
  margin: 0;
  line-height: 1.3125;
}

.testimonials__item-rating {
  display: flex;
  gap: 0.5rem;
  font-weight: 500;
  line-height: 1.5625;
}

.testimonials__item-rating svg {
  margin-top: 0.2rem;
}

.testimonials__item-description {
  color: rgb(var(--color-secondary-foreground));
  margin-bottom: 2rem;
}

.testimonials__item-name {
  margin-bottom: 0;
}

.testimonials .swiper-button {
  position: relative;
}

@media screen and (max-width: 989px) {
  .testimonials .slider-navigation {
    display: none;
  }

  .testimonials .swiper-wrapper {
		margin-bottom: calc(var(--button-space-top) + 1rem);
  }

  .testimonials:not(.one-slide) .testimonials__item-description {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 990px) {
  .testimonials__item {
    padding: 5rem 4rem 4rem;
  }

  .testimonials .swiper-scrollbar {
    display: none;
  }

  .testimonials__item-description {
    margin-bottom: 3rem;
  }

  .testimonials__slider {
    display: flex;
    padding: 0;
    max-width: 100%;
    margin-left: 5rem;
  }

  .testimonials.one-slide .testimonials__slider {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .testimonials__wrapper {
    display: grid;
    grid-template-columns: 1fr min(100%, var(--page-width)) 1fr;
  }

  .testimonials__slider {
    padding: 0 0 0 5rem;
    grid-column: 2 / 4;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
  }

  .testimonials__slider .swiper {
    width: 100%;
  }
}

.testimonials__slider .swiper-slide {
  max-width: 39rem;
}

.swiper-button-next.disabled,
.swiper-button-prev.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: 749px) {
  .testimonials__slider .swiper-slide {
    max-width: 33rem;
  }
}

/* disabled js */
.no-js .testimonials .swiper-button {
  display: none;
}

.no-js .testimonials .swiper-button {
  display: none;
}

.no-js .testimonials .swiper-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.no-js .testimonials .swiper-wrapper {
  column-gap: var(--slider-gap);
}

.no-js .testimonials .swiper-slide {
  flex: 0 0 auto;
}

@media screen and (min-width: 1024px) {
  .no-js .testimonials .swiper-wrapper {
    column-gap: var(--slider-gap-pc);
  }

}

/* disabled js end */

/* one slide per page style */

.testimonials.one-slide .testimonials__slider .swiper-slide {
  max-width: 100%;
}

.testimonials.one-slide .title-wrapper .slider-navigation {
  display: none;
}

.testimonials.one-slide .title-wrapper {
  justify-content: center;
}

.testimonials.one-slide .testimonials__slider {
  padding: 0;
}

.swiper-button.one-slide-per-page {
  right: unset;
  left: unset;
	top: unset;
}

.testimonials.one-slide .swiper-button.one-slide-per-page {
  display: none;
}

.testimonials.one-slide .testimonials__item-top {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials.one-slide .testimonials__item-description,
.testimonials.one-slide .testimonials__item-name,
.testimonials.one-slide .testimonials__item-title {
  text-align: center;
}

.testimonials.one-slide .testimonials__item-description {
  margin-bottom: 4rem;
	margin-top: 0;
  color: rgb(var(--color-foreground));
}

.testimonials.one-slide .testimonials__item-name {
  font-size: var(--f-size-text-md);
}

@media screen and (min-width: 750px) {
 .testimonials.one-slide .testimonials__item {
	padding: 5rem;
 }
} 

@media screen and (min-width: 990px) {
  .testimonials.one-slide .testimonials__slider{
    display: flex;
    gap: 2.4rem;
		align-items: center;
  }

  .testimonials.one-slide .swiper-button.one-slide-per-page {
    display: flex;
  }
}


@media screen and (min-width: 1200px) {
	.testimonials.one-slide .testimonials__item{
    padding: 8rem;
  }
}

@media screen and (min-width: 1560px) {
  .extra-large-layout .testimonials.one-slide .testimonials__item {
   padding: 12rem;
  }
}

/* @media screen and (max-width: 989px) {
  .testimonials.one-slide .testimonials__item-description {
    font-size: var(--font-heading-4-size-mb);
  }
} */

@media screen and (max-width: 749px) {
.testimonials.one-slide .testimonials__item {
padding: 4.8rem 2.5rem;
}

.testimonials.one-slide .testimonials__item-description {
	margin-bottom: 1.8rem;
}

.testimonials.one-slide .testimonials__item-name {
font-size: var(--f-size-text-md);
}

}

@media screen and (max-width: 749px) {
	.testimonials__item {
		background-image: var(--slide-img-bg-mb);
		background-position: var(--focal-point-mb);
	}
}