.mobile-sticky-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}

.mobile-sticky-bar.active {
  transform: translateY(0);
}

.mobile-sticky-bar .page-width {
  padding: 0;
}

.mobile-sticky-bar--border {
  border-top: 0.1rem solid rgba(var(--color-outline));
}

.mobile-sticky-bar--grid-border .grid__item:not(:first-child) {
  border-left: 0.1rem solid rgba(var(--color-outline));
}

.mobile-sticky-bar .grid {
  margin: 0;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 0;
}

.mobile-sticky-bar .grid--col .grid__item {
  margin: 0;
  max-width: 100%;
  width: auto;
  flex: 0 0 auto;
  transition: opacity var(--duration-default);
}

.mobile-sticky-bar .grid__item {
  padding: 0.5rem 0;
  box-sizing: border-box;
}

.mobile-sticky-bar .grid__item,
.mobile-sticky-bar .link:not(.predictive-search__item) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-sticky-bar .header__search .icon.icon-search {
  height: 3.6rem;
  width: 3.6rem;
}

.mobile-sticky-bar .link .icon-close {
  height: 2rem;
  width: 2rem;
}

.mobile-sticky-bar .link svg {
  height: 2.8rem;
  width: 2.8rem;
}

.mobile-sticky-bar .link .icon-scroll {
  height: 3.6rem;
  width: 3.6rem;
}

.bm-sticky-icon {
  position: relative;
  display: inline-flex;
}

.mobile-sticky-bar .bm-sticky-icon .cart-count-bubble {
  top: -0.3rem !important;
  right: -0.3rem !important;
}

.mobile-sticky-bar .header__search {
  position: static;
}

.mobile-sticky-bar .search__button {
  display: none;
}

.mobile-sticky-bar .search-modal__content-bottom {
  bottom: 0.1rem;
}

.cart-modal {
  position: relative;
}

.mobile-sticky-bar .predictive-search--header {
  transform: translateY(-100%);
  bottom: auto;
  top: 0.4rem;
  max-height: 80vh !important;
  max-height: 80svh !important;
  width: 100%;
  left: 0;
}

.mobile-sticky-bar .link:not(.predictive-search__item) {
  min-width: 4.4rem;
  height: 4.4rem;
  padding: 0;
  text-decoration: none;
}

.mobile-sticky-bar .field__input:focus ~ .field__label,
.mobile-sticky-bar .field__input:not(:placeholder-shown) ~ .field__label,
.mobile-sticky-bar .field__input:autofill ~ .field__label {
  top: 0.4rem;
}

@media screen and (max-width: 749px) {
  .mobile-sticky-bar .predictive-search {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--popup-corner-radius);
    border-top-left-radius: var(--popup-corner-radius);
  }

  .mobile-sticky-bar .predictive-search--header {
    padding: 3rem 1.5rem;
  }
}
